<!DOCTYPE html>
<html lang="en">

<head>
    <title>UpWheel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- Google Maps Autocomplete -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM0aWW3dVKLvWp8BsGQuI8XIw5TjQWBrc&libraries=places"></script>
</head>

<body>
    <div class="sidenav">
        <div class="navOptions">
            <img src="/images/UpWheelLogo.jpg" width="60%" id="logoImg">
            <a href="/search" class="navItem"><i class="fas fa-binoculars"></i> Search</a>
            <a href="/favorites" class="navItem"><i class="fas fa-heart"></i> Favorites</a>
            <a href="/about" class="navItem"><i class="fas fa-book-open"></i> About</a>
            <a href="/contact" class="navItem"><i class="fas fa-envelope"></i> Contact</a>
            <a href="/price-my-car" class="navItem"><i class="fas fa-database"></i> Price my car</a>
        </div>
        <img src="/images/RoadImgNavBar.jpg" width="100%" id="roadImg">
        <div class="navOptions">
            <img src="/images/UserLogo.jpg" width="60%" id="userLoginImg">
            <a href="sign-in" class="userAnchorTags"><u>Sign In</u></a>
            <a href="account" class="userAnchorTags"><u>Account</u></a>
        </div>
    </div>
    </div>
    <!-- Page content -->
    <div class="main">



